# Enviroment variables to run the Kleio server 
# copy to .env and change as necessary.

# Image to run, the default is timelinkserver/kleio-server:stable
KLEIO_SERVER_IMAGE=timelinkserver/kleio-server:stable
# To use a local build comment line above and uncomment bellow
#    Do `make image` before to update local image
# KLEIO_SERVER_IMAGE=kleio-server:latest

# Ports
# Port used by Kleio server (inside de container or stand alone)
KLEIO_SERVER_PORT=8088
# URL of Kleio Server (in a container)
KLEIO_END_POINT=http://kleio:8088
# Exposed port when running docker
KLEIO_EXTERNAL_PORT=8089
# End point from outside the docker network
# KLEIO_END_POINT=http://host.docker.internal:8089

# number of simultaneous workers
KLEIO_SERVER_WORKERS=3

# Amount of time a connection is kept alive
# increase this value if errors occur when fetching big files
KLEIO_IDLE_TIMEOUT=900

# ADMIN TOKEN with full privileges
#  must be at least five characters long
#  Generate a token with
#  openssl rand -hex 20
KLEIO_ADMIN_TOKEN=


# PATHS
# KLEIO_HOME_DIR
# Root working dir of the kleio server
# When running the server with docker compose this directory is mapped to /kleio-home/ 
#   inside the container
# 
# The server assumes a default organization for this directory
#  ./system/conf/kleio - configuration files, token information 
#  ./system/conf/kleio/stru - global structure files
#  ./sources - base directory for kleio source files
#  ./users  - base directory for user configuration files
# 
KLEIO_HOME_DIR=tests/kleio-home

# KLEIO_CONF_DIR
# Directory for configuration files
# Defaults to $KLEIO_HOME_DIR/system/conf/kleio
# KLEIO_CONF_DIR=/kleio-home/system/conf/kleio

# KLEIO_SOURCE_DIR
# Directory for kleio source files to be translated
# Only files inside this directory and sub directories can be translated, fetched or copied
# Defaults to 
# KLEIO_SOURCE_DIR=/kleio-home/sources

# KLEIO_CONF_DIR
# Path to token database. 
# Defaults to $KLEIO_CONF_DIR/token_db
# KLEIO_TOKEN_DB=/kleio-home/system/conf/kleio/token_db

# KLEIO_STRU_DIR
# Path to directory with global structure files
# Defaults to $KLEIO_CONF_DIR/stru/
# KLEIO_STRU_DIR=/kleio-home/system/conf/kleio/stru

# FILES
# KLEIO_DEFAULT_STRU
# Default structure file with definition for core Kleio groups
# Defaults to $KLEIO_CONF_DIR/stru/gacto2.str
# KLEIO_DEFAULT_STRU=/kleio-home/system/conf/kleio/stru/gacto2.str