src/xrefs.txt
src/httpd.log
src/qrecord.queries
src/.vscode
src/gacto2.srpt
.build/
tests/kleio_home/sources/more_sources
tests/kleio_home/sources/reference_translations
tests/kleio_home/sources/test_translations
qrecord.queries

