src/xrefs.txt
src/httpd.log
src/qrecord.queries
src/.vscode
src/gacto2.srpt
.build/
.vscode/
tests/kleio_home/sources/more_sources
tests/kleio_home/sources/reference_translations
tests/kleio_home/sources/test_translations
httpd.log
tests/kleio-home/system/conf/kleio/stru/gacto.str
tests/kleio-home/system/conf/kleio/stru/gacto2.str.json
tests/kleio_start_server.log
tests/reports/
tests/stable/gacto2.rpt
qrecord.queries
.env
tests/.env
tests/**/*.xml
tests/**/*.ids
tests/**/*.rpt
tests/**/*.err
tests/**/*.org
tests/**/*.old
tests/**/*.json
tests/dev
tests/httpd.log
.DS_Store
qrecord.queries
tests/kleio-home/system/conf/kleio/token_db
tests/kleio-home/system/conf/mhk_system.properties
node_modules
package-lock.json
package.json
src/.tokens.pl.swo
src/.tokens.pl.swp
tests/kleio-home/sources/test_translations/.kleio/conf/.admin_token
tests/kleio-home/sources/test_translations/.kleio/conf/.bootstrap_token
tests/kleio-home/sources/test_translations/.kleio/conf/token_db
tests/kleio-home/sources/test_translations/.kleio/logs/kleio_service.log
tests/kleio-home/system/conf/kleio/.admin_token
tests/kleio-home/system/conf/kleio/.bootstrap_token
tests/kleio-home/system/logs/kleio/kleio_service.log
.kleio/conf/.admin_token
.kleio/conf/token_db
