kleio-home/sources/reference_sources/*.org
kleio-home/sources/reference_sources/*.old
kleio-home/sources/reference_sources/*.err
kleio-home/sources/reference_sources/*.rpt
kleio-home/sources/reference_sources/*.xml
kleio-home/sources/api_tests/
kleio-home/sources/api/
kleio-home/sources/test_translations/
kleio-home/sources/reference_translations/
kleio-home/sources/more_sources/


